* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
     }
   
   body {
     /* background-color: #a4b9c0; */
     background-image: url("back.jpg");
     justify-content: center;
     align-items: center;
     display: flex;
     background-size: cover;
     min-height: 100vh;
       }
.box {
    background-color: #1c015a;
    padding-left: 60px;
    padding: 60px;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    box-shadow: 5px 5px rgb(44, 44, 46);
}

.box h2 {
    margin-bottom: 40px;
   text-align: center;
   font-size: 26px;
   color: #94d2fc;
   font-family: sans-serif;
}
input {
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 400px;
    border-radius: 6px;
    border: none;
    border: 2px solid #000000;
    outline: none;
    font-size: 22px;
}
 input ::placeholder {
     font-size: 26px;
 }

 #btnGen {
     display: flex;
     font-size: 20px;
     font-weight: 500;
     background-color: #c8d8dd;
     color: #1a1919;
     justify-content: center;
     cursor: pointer;
     text-align: center;
     margin-top: 40px;
     width: 150px;
     height: 50px;
     padding-top: 10px;
     margin-left: 30%;
 }
 #btnGen:hover {
     color: #ffffff;
     background-color: #81bce9;
 }